doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Addiction Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatment Centers & Support Groups Spokane, WA | Recovery Programsn Treatments & Support Groups | Get Sober Spokane
    link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css', rel='stylesheet')
    link(href='css/styles.css', rel='stylesheet')
  body
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3.navbar-shrink
      .container.px-4.px-lg-5
        a.navbar-brand.d-flex.align-items-center(href='index.html')
          img.logo(src='assets/img/logo.png', alt='Get Sober Spokane Logo')
          span.ms-2 Get Sober Spokane
        button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.my-2.my-lg-0
            li.nav-item
              a.nav-link(href='index.html') Home
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false') Resources
              ul.dropdown-menu
                li
                  a.dropdown-item(href='resource-directory.html')
                    i.bi.bi-list-ul.me-2
                    | Resource Directory
                li
                  a.dropdown-item(href='addiction-treatments-support.html')
                    i.bi.bi-heart-pulse.me-2
                    | Treatment & Support
                li
                  a.dropdown-item(href='medical-mental-health.html')
                    i.bi.bi-stethoscope.me-2
                    | Medical & Mental Health
                li
                  a.dropdown-item(href='shelter-housing.html')
                    i.bi.bi-house.me-2
                    | Shelter & Housing
                li
                  a.dropdown-item(href='food-basic-needs.html')
                    i.bi.bi-bag-heart.me-2
                    | Food & Basic Needs
                li
                  a.dropdown-item(href='employment-skills.html')
                    i.bi.bi-briefcase.me-2
                    | Employment & Skills
                li
                  a.dropdown-item(href='community-engagement-sober-activities.html')
                    i.bi.bi-people.me-2
                    | Sober Activities
                li
                  a.dropdown-item(href='map.html')
                    i.bi.bi-geo-alt.me-2
                    | Recovery Map
            li.nav-item
              a.nav-link(href='donations.html')
                i.bi.bi-heart.me-2
                | Support Our Mission
            li.nav-item
              a.nav-link(href='dashboard.html') Dashboard
            li.nav-item
              a.nav-link(href='index.html#contact') Contact
    // Hero Section
    header.masthead
      // Background Image
      .background-image(style='background-image: url("assets/img/10.jpg");')
      .container.px-4.px-lg-5.h-100
        .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center.text-center
          .col-lg-10.align-self-end
            h1.text-white.font-weight-bold.mb-3 Addiction Treatments & Support Groups in Spokane
            hr.divider.divider-light
          .col-lg-8.align-self-baseline
            p.text-white-75.mb-4
              | Find professional addiction treatment centers and peer-led support groups in Spokane, WA. This guide connects you to evidence-based care, recovery programs, and community support for substance use disorders.
    // Main Content
    section.page-section
      .container.px-4.px-lg-5
        .row.justify-content-center
          .col-lg-10
            h2.text-primary.mt-0 Addiction Treatments & Support Groups in Spokane
            p Spokane offers a wide range of addiction treatment centers and support groups for individuals and families seeking help with substance use disorders. Services include detox, inpatient and outpatient care, mental health support, and peer-led recovery meetings.
            h3.mt-5 Addiction Treatment Centers
            p.text-muted
              | Treatment centers in Spokane provide comprehensive care, from detox and residential programs to outpatient therapy and mental health services. Many offer specialized support for veterans, families, and those experiencing homelessness.
            .table-responsive
              table.table.table-bordered.table-striped.mt-3
                thead
                  tr
                    th Organization
                    th Address
                    th Phone
                    th Services
                tbody
                  tr
                    td Breakthrough Recovery Group
                    td Spokane, WA (address not specified)
                    td +1 (509) 443-8800
                    td Outpatient, non-12 step, mental health
                  tr
                    td Spokane Treatment & Recovery Services (STARS)
                    td 628 S Cowley St, Spokane, WA 99202
                    td +1 (509) 570-7250
                    td SUD treatment, mental health, assessments
                  tr
                    td Spokane Falls Recovery Center
                    td Spokane, WA (address not specified)
                    td +1 (844) 962-2772
                    td Residential, outpatient, 24/7 medical
                  tr
                    td CAT SPOKANE (Compassionate Addiction Treatment)
                    td 960 E 3rd Ave, Spokane, WA 99202
                    td +1 (509) 919-3362
                    td Peer-led, trauma-informed, homelessness support
                  tr
                    td Royal Life Centers at Spokane Heights
                    td 1234 W Boone Ave, Spokane, WA 99201
                    td +1 (888) 907-0898
                    td Detox, inpatient, veterans, Native American programs
                  tr
                    td Aliya Health Group
                    td Spokane, WA (at Royal Life Centers)
                    td Not provided
                    td Inpatient programs
                  tr
                    td Spokane Addiction Recovery Centers (SPARC)
                    td 105 W 3rd Ave, Spokane, WA 99201
                    td (509) 747-5487
                    td Chemical dependency, mental health, non-12 step
                  tr
                    td Sequoia Detox Centers
                    td Spokane, WA (address not specified)
                    td Not provided
                    td Detox, inpatient, outpatient, holistic care
            h3.mt-5 Support Groups
            p.text-muted
              | Peer-led support groups offer community, accountability, and encouragement for those in recovery and their loved ones. Spokane hosts a variety of 12-step, non-12-step, and faith-based groups.
            .table-responsive
              table.table.table-bordered.table-striped.mt-3
                thead
                  tr
                    th Organization
                    th Contact / Website
                    th Meeting Details
                    th Services
                tbody
                  tr
                    td Alcoholics Anonymous (AA)
                    td: a(href='https://aaspokane.org', target='_blank') aaspokane.org
                    td Various locations/times (see website)
                    td Peer support for alcohol recovery
                  tr
                    td Narcotics Anonymous (NA)
                    td: a(href='https://newana.org', target='_blank') newana.org
                    td Schedule downloadable on website
                    td Peer support for drug recovery
                  tr
                    td Al-Anon and Alateen
                    td 1700 W. 7th Ave, Suite 100, Spokane, WA 99204; (509) 456-2125
                    td Sun 11am–1pm, Tue 11am–1pm, Wed 5:30–7:30pm
                    td Support for families/friends of alcoholics, teens
                  tr
                    td SMART Recovery
                    td: a(href='https://smartrecovery.org', target='_blank') smartrecovery.org
                    td Nearby: Liberty Lake (Fri 5–6pm), Coeur d’Alene (Wed 5:30–6:30pm)
                    td Non-12-step, science-based recovery
                  tr
                    td Celebrate Recovery
                    td Multiple locations (see below)
                    td Varies by location
                    td Christ-centered 12-step program
            .alert.alert-info.mt-4
              i.bi-info-circle-fill.me-2
              | Celebrate Recovery Locations:
              ul.mb-0
                li Spokane First Church of the Nazarene: Thu 6:00 PM (sfnaz.org)
                li The Salvation Army: Thu 5:30–7:00 PM, 222 E. Indiana Ave (spokesman.com)
                li Family of Faith Community Church: Sun 9–11 AM, Wed 6 PM, 1504 W. Grace Ave, +1 (509) 325-0343 (ffcc.us)
            h3.mt-5 Access & Support
            ul
              li Call Washington 2-1-1 at +1 (877) 211-9274 for referrals to addiction treatment, support groups, and other services.
              li Explore the
                a(href='https://thefigtree.org', target='_blank') Fig Tree Resource Guide
                |  for a comprehensive directory of addiction and recovery resources.
              li Use the
                a(href='https://findtreatment.samhsa.gov', target='_blank') SAMHSA Treatment Locator
                |  to find additional treatment options.
              li Use the
                a(href='https://www.google.com/maps/d/u/0/viewer?mid=1QwQwQwQwQwQwQwQwQwQwQwQwQwQwQwQw&ll=47.6588%2C-117.4260&z=12', target='_blank') Spokane Resource Google Map
                |  to locate treatment centers and support groups.
    // Call to Action
    section.page-section.bg-primary.text-white.text-center
      .container.px-4.px-lg-5
        h2.mb-4 Need Help with Addiction or Recovery?
        p.mb-4 Call Washington 2-1-1 or reach out to a local treatment center or support group for immediate assistance.
        a.btn.btn-light.btn-xl(href='index.html#contact') Contact Us 
    footer.bg-light.py-5
      .container.px-4.px-lg-5
        a(href='index.html')
          img.footer-logo(src='assets/img/logo.png', alt='Get Sober Spokane Logo')
        .small.text-center.text-muted
          | Copyright © 2025 - Get Sober Spokane
          br
          a(href='privacy-policy.html') Privacy Policy
          |  | 
          a(href='terms-of-service.html') Terms of Service
    
    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
    // Core theme JS
    script(src='js/scripts.js') 